%text-box {
  border-radius: 5px;
  padding: 17px;
  border: 0;
  color: #333;
  font-weight: bold;
  box-shadow: inset 0px 3px 8px rgba(0,0,0,.3);
}

%font-face {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
}

%heading-1 {
  font-size: 36px;
}

%gradient-background {
  background: rgba(32,123,202,1);
  background: linear-gradient(45deg, rgba(32,123,202,1) 0%, rgba(192,58,46,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#207bca', endColorstr='#c03a2e', GradientType=1 );
}

%center-middle-boxes {
  display: flex;
  align-items: center;
  justify-content: center;
}
