html{
	height: 100%;
}

body{
	background: -moz-linear-gradient(45deg, rgba(15,0,224,1) 0%, rgba(230,0,0,1) 100%); /* ff3.6+ */
	background: -webkit-gradient(linear, left bottom, right top, color-stop(0%, rgba(15,0,224,1)), color-stop(100%, rgba(230,0,0,1))); /* safari4+,chrome */
	background: -webkit-linear-gradient(45deg, rgba(15,0,224,1) 0%, rgba(230,0,0,1) 100%); /* safari5.1+,chrome10+ */
	background: -o-linear-gradient(45deg, rgba(15,0,224,1) 0%, rgba(230,0,0,1) 100%); /* opera 11.10+ */
	background: -ms-linear-gradient(45deg, rgba(15,0,224,1) 0%, rgba(230,0,0,1) 100%); /* ie10+ */
	background: linear-gradient(45deg, rgba(15,0,224,1) 0%, rgba(230,0,0,1) 100%); /* w3c */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#E60000', endColorstr='#0F00E0',GradientType=1 ); /* ie6-9 */
	background-repeat: no-repeat;
	color: #fff;
	text-align: center;
}

#home{
		position: absolute;
        top: 50%;
        left: 50%;
        margin-right: -50%;
        transform: translate(-50%, -50%);

        #zip-entry{
        	margin-top: 20px;
        }
}